h1{
    font-family: "Times New Roman";
    font-size: 75px;
    /* font-variant: small-caps; */
    font-style: italic;
    font-weight: bold;
}

p{
    font-family: 'Poppins';
    line-height:  50px;
}

/* css font shorthand / singkatan */

body{
    font: normal 16px/18px helvetica, arial, sans-serif;
}